body {
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    letter-spacing: 2px;
}

h1, label, button, p {
    color: #fff;
    /* text-shadow: -1px 0 rgb(0, 139, 98), 0 1px rgb(0, 139, 98), 1px 0 rgb(0, 139, 98), 0 -1px rgb(0, 139, 98); */
    text-shadow: -1px 0 #29655D, 0 1px #29655D, 1px 0 #29655D, 0 -1px #29655D;
}

h2, h3, p, label, button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: italic;
}

.top-section {
    position: relative;
    height: 100vh;
    text-align: center;
    padding: 100px;
    background-image: linear-gradient(rgba(41, 101, 93, 0.3), rgba(41, 101, 93, 0.3)), url("/img/landscape.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.top-section > div {
    height: 100%;
}

#app label, #app p, #app input {
    font-size: 1.3rem;
}

#app input {
    color: teal;
}

#app input, #app button {
    padding: 10px 15px;
    border: 1px solid #29655D;
    border-radius: 20px;
}

#app input:focus, #app button:focus {
    border: 1px solid #29655D;
    border-radius: 20px;
}

#app input {
    margin: 30px 10px 40px;
    width: 30%;
}

#app button {
    width: 30%;
    background-color: #458110;
    color: white;
    font-size: 1.1rem;
}

#app button:hover {
    cursor: pointer;
    background-color: #67B17D;
}

#app div:first-child {
    margin-bottom: 70px;
}

.weather {
    margin-bottom: 40px;
}

.weather p {
    margin-top: 0;
}

/*Responsive*/

@media screen and (max-width: 1024px) {
    .top-section {
        padding: 40px;
        /* height: 75vh; */
    }

    h1 {
        font-size: 2.5rem;
    }

    #app div:first-child {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 540px) {
    /* .top-section {
        padding: 40px;
    } */

    #app input, #app button {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .top-section {
        /* height: 100%; */
        padding: 25px;
    }

    #app input, #app button {
        width: 80%;
    }

    h1 {
        margin-top: 10px;
    }
}

@media screen and (max-height: 560px) {
    .top-section {
        height: 100%;
    }
}